---
layout: ""
page_title: "CUE Provider"
description: |-
The CUE provider provides resources to interact with [CUE](https://cuelang.org/).
---

# CUE Provider

The CUE provider provides resources to interact with [CUE](https://cuelang.org/).

## Example Usage

{{tffile "examples/provider/provider.tf"}}
